@charset "UTF-8";
.classe-cinza {
  background-color: rgb(220, 220, 220);
}

.classe-roxo {
  color: #8555F7;
}

.classe-tomato {
  background-color: #ffcec5;
}

.classe-tomato-texto {
  color: #ff6347;
}

.classe-verde {
  background-color: #76A73F;
}

.classe-verde-texto {
  color: #9BD14D;
}

.classe-amarelo {
  background-color: #FFCC00;
}

.classe-amarelo-texto {
  color: #CC9900;
}

.ocultar {
  display: none !important;
}

.item-requerido {
  /* Muda a cor do texto do título */
  /* Apenas a borda vermelha e o fundo pulsante na .container */
}
.item-requerido .titulo {
  color: red !important;
}
.item-requerido .container {
  border: 1px solid red !important;
  /* Muda a cor do placeholder para vermelho */
  /* Compatibilidade com diferentes navegadores */
}
.item-requerido .container > input {
  animation: pulsar 1s infinite alternate ease-in-out;
}
.item-requerido .container > input::-moz-placeholder {
  color: rgba(248, 56, 56, 0.3294117647) !important;
  opacity: 1; /* Garante que a cor será aplicada corretamente */
}
.item-requerido .container > input::placeholder {
  color: rgba(248, 56, 56, 0.3294117647) !important;
  opacity: 1; /* Garante que a cor será aplicada corretamente */
}
.item-requerido .container > input::-webkit-input-placeholder { /* Chrome, Safari, Edge */
  color: rgba(248, 56, 56, 0.3294117647) !important;
}
.item-requerido .container > input::-moz-placeholder { /* Firefox */
  color: rgba(248, 56, 56, 0.3294117647) !important;
}
.item-requerido .container > input:-ms-input-placeholder { /* Internet Explorer */
  color: rgba(248, 56, 56, 0.3294117647) !important;
}
.item-requerido .container > input::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(248, 56, 56, 0.3294117647) !important;
}

/* Animação de pulsação suave para a div.container */
@keyframes pulsar {
  0% {
    background-color: rgba(255, 0, 0, 0.05); /* Vermelho bem leve */
  }
  100% {
    background-color: rgba(255, 0, 0, 0.15); /* Um pouco mais forte */
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow: hidden !important;
  position: relative;
  overflow: hidden;
}

* {
  font-family: "Segoe UI", -apple-system, -apple-system-font, "Segoe UI", "Roboto", sans-serif !important;
}

:root {
  font-family: "Segoe  UI", -apple-system, -apple-system-font, "Segoe UI", "Roboto", sans-serif !important;
  margin: 0;
  padding: 0;
}

button,
a {
  -webkit-tap-highlight-color: transparent !important;
}

html {
  touch-action: manipulation;
  scroll-behavior: smooth;
  display: flex;
  align-content: center;
  justify-content: center;
  overflow: hidden;
  height: 100%;
  width: 100%;
  padding: 2px !important;
}
html > body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 100%;
  border: 1px solid yellow;
}
html > body > main.div-main-app {
  background-color: silver;
  display: flex;
  flex-grow: 1;
  flex-basis: 100%;
}
@media (min-width: 1366px) {
  html > body > main.div-main-app {
    min-width: 1566px;
    max-width: 1366px;
    margin: 0 auto;
  }
}/*# sourceMappingURL=leiaute.css.map */