@import "./UTILS/_paletaCores";
@import "./UTILS/_base";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow: hidden !important;
    position: relative;
    overflow: hidden;
}
* {
    font-family:
        "Segoe UI",
        -apple-system,
        -apple-system-font,
        "Segoe UI",
        "Roboto",
        sans-serif !important;
    // position: relative;
}
:root {
    font-family:
        "Segoe  UI",
        -apple-system,
        -apple-system-font,
        "Segoe UI",
        "Roboto",
        sans-serif !important;
    margin: 0;
    padding: 0;
}

// !Remove o destaque azul em botões e links
button,
a {
    -webkit-tap-highlight-color: transparent !important;
}

html {
    touch-action: manipulation;
    scroll-behavior: smooth;
    //
    display: flex;
    min-height: 100%;
    min-width: 100%;
}
body {
    background-color: red;
    display: flex;
    min-height: 100%;
    width: -webkit-fill-available;
    padding: 4px;
    justify-content: center;
    align-items: center;
    background-color: gray(100); //

    > div.container-pop-up {
        background-color: gray(40);
        width: 95%;
        height: 90vh;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        border-radius: 4px;
        padding: 0.75em;

        display: flex;
        > div.doca-left {
            display: flex;
            flex-direction: column;
            flex-basis: 50%;
            height: 100%;
            > div.doca-left-header {
                min-height: 50px;
                padding: 0.75em;
                .lb-ma {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 16px;
                    font-family: "Roboto", sans-serif;
                    font-weight: 700;

                    > .titulo {
                        font-size: 16px;
                        color: #333;
                        margin-bottom: 8px;
                    }

                    > .container {
                        display: flex;
                        align-items: center;
                        position: relative;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        padding: 8px;
                        transition: border-color 0.3s;
                        background-color: gray(10);

                        &:focus-within {
                            border-color: #6200ea;
                        }
                        > .btn {
                            background: none;
                            border: none;
                            cursor: pointer;
                            padding: 8px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: #6200ea;
                            transition:
                                background-color 0.3s,
                                color 0.3s;

                            &:hover {
                                background-color: rgba(98, 0, 234, 0.1);
                            }

                            &:focus {
                                outline: none;
                                background-color: rgba(98, 0, 234, 0.2);
                            }

                            > i {
                                font-size: 1.5em;
                            }
                        }

                        > .input-ma {
                            flex: 1;
                            border: none;
                            outline: none;
                            font-size: 16px;
                            padding: 8px;
                            color: #333;
                            // background-color: inherit;
                            &::placeholder {
                                color: #aaa;
                            }
                        }
                    }
                }
            }
            > div.doca-left-main {
                overflow-y: scroll !important;
                height: -webkit-fill-available;
                padding: 0.75em;
                display: flex;
                align-items: flex-start;
                justify-content: center;

                > div.post_icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    min-height: -webkit-fill-available;
                    > svg {
                        height: 350px;
                        width: 350;
                    }
                }

                div.container-itens {
                    min-height: -webkit-fill-available;
                    width: 100%;

                    > div.no_data_icon {
                        // display: flex;
                        // align-items: center;
                        // justify-content: center;
                        // min-height: -webkit-fill-available;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        min-height: -webkit-fill-available;
                        float: left;
                        position: absolute;
                        left: -100px;

                        > svg {
                            height: 350px;
                            width: 350;
                        }
                    }
                    > div.iten {
                        width: 100%;
                        min-height: 50px;
                        max-height: 50px;
                        border-radius: 4px;
                        padding: 8px;
                        border-top: 1px solid #ccc;
                        border-radius: 0px;
                        display: flex;
                        // Apenas o primeiro item terá o border-top
                        &:first-child {
                            border-top: 1px solid #ccc;
                        }

                        // Apenas o último item não terá border-bottom
                        &:last-child {
                            border-bottom: 1px solid #ccc;
                        }
                        &:hover {
                            background-color: #e3f2fd; /* Azul claro */
                            cursor: pointer; /* Indica interação */

                            // background-color: #1e90ff1a; /* Azul opaco */
                            // background-color: #f5f5f5; /* Cinza claro */
                        }
                        > div.iten-header {
                            > div.codigo-item {
                                display: flex;
                                flex-direction: column;
                                > span.rotulo {
                                    font-size: 0.6em;
                                    text-transform: uppercase;
                                    color: #ccc;
                                    color: #3f3f3f;
                                    color: #757575;
                                    font-weight: bold;
                                }
                                > span.conteudo {
                                    font-size: 0.75em;
                                    text-transform: uppercase;
                                    color: #ccc;
                                    color: #3f3f3f;
                                    color: #757575;
                                }
                            }
                        }
                        > div.iten-main {
                            padding: 0 0.8em;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            flex-grow: 1;
                            > div.top {
                                font-size: 0.6em;
                                text-transform: uppercase;
                                color: #ccc;
                                color: #3f3f3f;
                                color: #757575;
                                color: #6200ea;
                            }
                            > div.bottom {
                                font-size: 0.6em;
                                text-transform: uppercase;
                                color: #ccc;
                                color: #3f3f3f;
                                color: #757575;
                            }
                        }
                        > div.iten-footer {
                            padding: 0 0.8em;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;

                            //
                            font-size: 0.6em;
                            text-transform: uppercase;
                            color: #ccc;
                            color: #3f3f3f;
                            color: #757575;
                            color: #6200ea;
                        }
                        &.select-iten {
                            background-color: #e3f2fd !important; /* Azul claro */
                            cursor: pointer !important; /* Indica interação */
                        }
                    }
                }
            }
        }
        > div.doca-right {
            display: flex;
            flex-direction: column;
            // background-color: silver;
            flex-basis: 50%;
            height: 100%;
            overflow: scroll;

            > div.doca-right-header {
                // background-color: lightblue;
                padding: 0.45em;
                > span.rotulo {
                    font-size: 1em;
                    color: #3700b3;
                    margin-bottom: 8px;
                    font-weight: 700;
                }
            }
            > div.doca-right-main {
                // background-color: lightcoral;
                padding: 0.45em;
                max-height: 250px;
                display: flex;
                flex-grow: 1;
                > .table-container {
                    max-height: 200px;
                    border: 1px solid #e0e0e0;
                    border-radius: 8px;
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                    background-color: #fff;
                    overflow: hidden;

                    .table-wrapper {
                        max-height: 200px;
                        overflow-y: auto !important;
                        overflow-x: hidden !important;

                        &::-webkit-scrollbar {
                            width: 8px;
                            height: 8px;
                        }

                        &::-webkit-scrollbar-thumb {
                            background-color: #90caf9;
                            border-radius: 4px;
                            border: 2px solid #e3f2fd;

                            &:hover {
                                background-color: #42a5f5;
                            }
                        }

                        &::-webkit-scrollbar-track {
                            background-color: #e3f2fd;
                            border-radius: 4px;
                        }
                    }

                    .table {
                        width: 100%;
                        border-collapse: collapse;
                        table-layout: fixed;
                        text-align: left;
                        font-family: Arial, sans-serif;
                        font-size: 0.65em;

                        > thead {
                            background-color: #f5f5f5;
                            color: #424242;
                            font-weight: bold;
                            text-transform: uppercase;

                            position: sticky !important;
                            top: 0 !important;
                            z-index: 10 !important;

                            .th-descricao,
                            .th-cod-interno-iten,
                            .th-action {
                                padding: 0.45em;
                                border-bottom: 1px solid #e0e0e0;
                                word-wrap: break-word;
                            }

                            .th-descricao {
                                width: 40%;
                            }

                            .th-cod-interno-iten {
                                width: 20%;
                            }

                            .th-action {
                                width: 15%;
                                text-align: center;
                                vertical-align: middle;
                            }
                        }
                        tbody {
                            > tr {
                                
                                &:hover {
                                    background-color: #f0f0f0 !important;
                                    cursor: default;
                                }

                                &.active-rows{
                                    background-color: #e3f2fd !important;
                                }

                                &:last-child .td-descricao,
                                &:last-child .td-cod-interno-item,
                                &:last-child .td-action-delete {
                                    border-bottom: none;
                                }

                                .td-descricao,
                                .td-cod-interno-item,
                                .th-quantidade-iten,
                                .td-action-delete {
                                    padding: 0.45em;
                                    border-bottom: 1px solid #e0e0e0;
                                    word-wrap: break-word;
                                }
                                .th-quantidade-iten {
                                    word-wrap: break-word;
                                    width: 10%;
                                    text-align: center;
                                }
                                .td-descricao {
                                    width: 60%;
                                }

                                .td-cod-interno-item {
                                    width: 10%;
                                }
                                .td-quantidade-iten {
                                    width: 10%;
                                    text-align: center;
                                }

                                .td-action-delete {
                                    width: 15%;
                                    text-align: center;
                                    vertical-align: middle;
                                }

                                .td-action-delete .btn {
                                    background: none;
                                    border: none;
                                    cursor: pointer;
                                    padding: 4px;
                                    border-radius: 50%;
                                    align-items: center;
                                    justify-content: center;
                                    color: #b71c1c;
                                    transition:
                                        background-color 0.3s,
                                        color 0.3s;
                                    min-width: min-content;

                                    &:hover {
                                        background-color: rgba(183, 28, 28, 0.1);
                                    }

                                    &:focus {
                                        outline: none;
                                        background-color: rgba(183, 28, 28, 0.2);
                                    }

                                    > i {
                                        font-size: 1em;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            > div.doca-right-footer {
                // background-color: lightcyan;
                flex-grow: 2;
                padding: 0.45em;
                display: flex;
                gap: 1.2em;
                flex-direction: column;

                .lb-select {
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    width: 100%;
                    font-family: "Roboto", sans-serif;

                    > span.rotulo {
                        display: block;
                        font-size: 14px;
                        color: #757575;
                        margin-bottom: 4px;
                    }
                    > div.container {
                        display: flex;
                        align-items: center;
                        position: relative;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        padding: 8px;
                        transition: border-color 0.3s;
                        background-color: #ffffff;
                        > input {
                            width: 100%;
                            padding: 10px 15px;
                            font-size: 16px;
                            color: #212121;
                            border: 0px solid #ccc;
                            border-radius: 4px;
                            outline: none;
                            box-sizing: border-box;
                            transition:
                                border-color 0.2s ease,
                                box-shadow 0.2s ease;

                            &::placeholder {
                                color: #bdbdbd;
                                font-size: 16px;
                            }
                        }

                        > .btn {
                            background: none;
                            border: none;
                            cursor: pointer;
                            padding: 8px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: #6200ea;
                            transition:
                                background-color 0.3s,
                                color 0.3s;
                            min-width: fit-content;

                            &:hover {
                                background-color: rgba(98, 0, 234, 0.1);
                            }

                            &:focus {
                                outline: none;
                                background-color: rgba(98, 0, 234, 0.2);
                            }

                            > i {
                                font-size: 1.5em;
                            }
                        }
                    }
                }
            }
        }
        > div.overlay-popup {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Fundo preto translúcido */
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9999; /* Certifique-se de que esteja acima de outros elementos */

            .container {
                background-color: white;
                border-radius: 8px;
                padding: 16px;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
                width: 300px;
                width: -moz-fit-content;
                width: fit-content;
                max-width: 55px;
                max-width: 90%;
                display: flex;
                flex-direction: column;
                min-width: 315px;
                max-width: 380px;

                // align-items: center;

                > div.container-header {
                    > span.rotulo {
                        font-size: 1em;
                        color: #6200ea;
                        margin-bottom: 8px;
                        font-weight: 700;
                        overflow-wrap: break-word;
                    }
                }

                > div.container-main {
                    padding: 0.25em 0;
                    .lb-ma {
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 16px;
                        font-family: "Roboto", sans-serif;
                        font-weight: 700;

                        > .titulo {
                            font-size: 0.94em;
                            color: #333;
                            margin-bottom: 8px;
                            font-weight: 200;
                        }

                        > .container {
                            display: flex;
                            align-items: center;
                            position: relative;
                            border: 1px solid #ccc;
                            border-radius: 4px;
                            padding: 8px;
                            transition: border-color 0.3s;
                            background-color: gray(10);
                            min-width: 100%;

                            &:focus-within {
                                border-color: #6200ea;
                            }
                            > .btn {
                                background: none;
                                border: none;
                                cursor: pointer;
                                padding: 8px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                color: #6200ea;
                                transition:
                                    background-color 0.3s,
                                    color 0.3s;

                                &:hover {
                                    background-color: rgba(98, 0, 234, 0.1);
                                }

                                &:focus {
                                    outline: none;
                                    background-color: rgba(98, 0, 234, 0.2);
                                }

                                > i {
                                    font-size: 1.5em;
                                }
                            }
                            > .input-ma {
                                width: -webkit-fill-available;
                                flex: 1;
                                border: none;
                                outline: none;
                                font-size: 16px;
                                padding: 8px;
                                color: #333;
                                background-color: inherit;
                                &::placeholder {
                                    color: #aaa;
                                }
                            }
                        }
                    }
                }
                > div.container-footer {
                    display: flex;
                    flex-direction: column;
                    padding: 0.25em 0;
                    gap: 0.75em;
                    align-items: center;

                    > .btn {
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        padding: 12px 24px;
                        border: none;
                        border-radius: 4px;
                        background-color: #6200ea; // Cor primária
                        color: #ffffff; // Cor do texto
                        font-size: 10.5px;
                        font-weight: 500;
                        text-transform: uppercase;
                        cursor: pointer;
                        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
                        transition:
                            background-color 0.3s,
                            box-shadow 0.3s;
                        max-width: 275px;
                        min-width: 95%;
                        > .titulo {
                            margin: 0;
                        }

                        &:hover {
                            background-color: #3700b3; // Cor primária escura
                            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
                        }

                        &:active {
                            background-color: #bb86fc; // Cor primária clara
                            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
                        }

                        &:focus {
                            outline: none;
                            box-shadow: 0 0 0 4px rgba(98, 0, 234, 0.3); // Efeito de foco
                        }
                    }
                    .btn-secundario {
                        background-color: #03dac6; // Cor secundária
                        color: #000000; // Texto em preto para contraste

                        &:hover {
                            background-color: #018786; // Cor secundária escura
                        }

                        &:active {
                            background-color: #66fff9; // Cor secundária clara
                        }

                        &:focus {
                            outline: none;
                            box-shadow: 0 0 0 4px rgba(3, 218, 198, 0.3); // Efeito de foco
                        }
                    }
                }
            }
        }
    }
}

.btn-desativado {
    background-color: #e0e0e0; // Cor de fundo para estado desativado (cinza claro)
    color: #9e9e9e; // Cor do texto (cinza escuro)
    cursor: not-allowed; // Cursor para indicar estado desativado
    pointer-events: none; // Desativa qualquer interação do mouse
    box-shadow: none; // Remove a sombra do botão
    opacity: 0.6; // Reduz a opacidade para indicar inatividade
    text-transform: uppercase; // Mantém o padrão Material Design
}

.lb-select-options {
    max-height: 200px;
    overflow-y: auto !important;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 100000;
    display: none;
    // display: block;
    padding: 0;
    margin: 0;
    list-style: none;
    position: fixed;
    left: 0;
    top: 0;

    .md-option {
        padding: 12px 15px;
        cursor: pointer;
        font-size: 16px;
        color: #212121;
        transition: background-color 0.2s ease;

        &:hover {
            background-color: #f1f1f1;
        }
        &.nav-option {
            background-color: dodgerblue;
        }
    }

    &.show {
        display: block;
    }
}
